{% extends 'base.html' %}
{% load static %}
{% block title %}コース情報編集{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h2><strong>コース情報編集</strong></h2>
    </div>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="container-fluid content-area">

            <div class="row mb-5">

                {% for field in form %}

                    {% if field.name == 'activity_status' %}
                        <div class="row mb-4">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 ms-5">
                                {{ field.label }}
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-switch switch-large">
                                    {{ field }}
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    {% else %}
                        <div class="row mb-4">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 ms-5">
                                {{ field.label }}
                            </div>
                            <div class="col-md-4">
                                {{ field }}
                                <span style="color:red;">{{ field.errors }}</span>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-layout">
                    更新
                </button>
            </div>

        </div>

    </form>

    <div class="text-center mb-5">
        <a href="{% url 'course:index' %}" class="btn btn-secondary btn-layout">
            コース情報管理に戻る <i class="fa-solid fa-circle-chevron-right"></i>
        </a>
    </div>
    
{% endblock content %}

