{% extends 'base.html' %}
{% load static %}
{% block title %}コース情報管理{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="text-center mb-5">
                <h2><strong>コース情報管理</strong></h2>
            </div>

            <div class="text-end mb-3">
                <a href="#" class="btn btn-primary btn-layout">
                <!-- <a href="{% url 'course:index' %}" class="btn btn-primary btn-layout text-right"> -->
                    新規登録
                </a>
            </div>

            <table class="">
                <thead class="">
                    <tr width="800px">
                        <th width="200px">コース</th>
                        <th width="200px">中間発表日</th>
                        <th width="200px">最終発表日</th>
                        <th width="100px">活動ステータス</th>
                        <th width="100px">編集</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td class="">{{ item.name }}</td>
                            <td class="">{{ item.Interim_report_date }}</td>
                            <td class="">{{ item.last_report_date }}</td>
                            <td>
                                {% if item.activity_status %}
                                    <span class="">活動中</span>
                                {% else %}
                                    <span class="">活動終了</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="#">
                                <!-- <a href="{% url 'course:edit' item.id %}"> -->
                                    <button class="btn btn-info btn-layout">編集</button>
                                </a>
                            </td>
                
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'home:index' %}" class="btn btn-secondary btn-layout">
                ホーム画面に戻る
            </a>

        </div>
    </div>
                        
{% endblock content %}
