{% extends 'base.html' %}
{% load static %}
{% block title %}コース情報管理{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h2><strong>コース情報管理</strong></h2>
    </div>

    <div class="text-end mb-4 btn-adjustment">
        <a href="{% url 'course:create' %}" class="btn btn-primary btn-layout">
            新規登録
        </a>
    </div>

    <table class="mb-5 mx-auto" width="800">
        <thead class="">
            <tr>
                <th width="250">コース</th>
                <th width="150">中間発表日</th>
                <th width="150">最終発表日</th>
                <th width="150">活動ステータス</th>
                <th width="100">編集</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td class="">{{ item.name }}</td>
                    <td class="">{{ item.Interim_report_date }}</td>
                    <td class="">{{ item.last_report_date }}</td>
                    <td>
                        {% if item.activity_status %}
                            <span class="">活動中</span>
                        {% else %}
                            <span class="">活動終了</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="#">
                            <button class="btn btn-info btn-layout-small">編集</button>
                        </a>
                    </td>
        
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'home:index' %}" class="btn btn-secondary btn-layout">
            ホーム画面に戻る
        </a>
    </div>
                        
{% endblock content %}
