{% extends 'base.html' %}
{% load static %}
{% block title %}ホーム{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h1><strong>{{ user.team.course.name }} {{ user.team.name }}<br>{{ user.name }}さんの作業ルーム</strong></h1>
    </div>

    <!-- 一般ユーザ -->
    {% if not user.is_staff %}

        <div class="alert-box">
            <p><i class="fas fa-exclamation-triangle"></i>　「ER図作成」のタスクが本日期限です。</p>
            <p><i class="fas fa-exclamation-triangle"></i>　「画面遷移図」のタスクが期限切れとなっています。</p>
        </div>

        <div class="info-box">
            <p><i class="fas fa-info-circle"></i>　次のミーティングは 8月5日(火) 21時 です。</p>
        </div>

        <div class="deadline text-center">

            <!-- 一般ユーザ -->
            {% if days_left_interim > 0 %}
                <p>中間発表（{{ interim_report_date }}）まで　残り <span class="text-danger fw-bold">{{ days_left_interim }}</span> 日！</p>
                <p>最終発表（{{ last_report_date }}）まで　残り <span class="text-danger fw-bold">{{ days_left_last }}</span> 日！</p>
            {% elif days_left_interim == 0 %}
                <p>今日は中間発表日です！<br>しっかり準備して臨みましょう！</p>
            {% elif days_left_last > 0 %}
                <p>最終発表（{{ last_report_date }}）まで　残り <span class="text-danger fw-bold">{{ days_left_last }}</span> 日！</p>
            {% elif days_left_last == 0 %}
                <p>今日は最終発表日です！<br>悔いが残らないよう全力で挑みましょう！</p>
            {% else %}
                <p>こちらのハッカソンは終了しました。<br>お疲れ様でした！</p>
            {% endif %}
        </div>

    <!-- 管理ユーザ -->
    {% else %}

        活動中チームの情報を表示する予定

    {% endif %}

{% endblock content %}
