{% extends 'base.html' %}
{% load static %}
{% block title %}ナレッジ編集{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h2><strong>ナレッジ編集</strong></h2>
    </div>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="container-fluid content-area">

            <div class="row mb-5">

                {% for field in form %}

                    <div class="row mb-4">
                        <div class="col-md-2"></div>
                        <div class="col-md-1 ms-5">
                            {{ field.label }}
                        </div>
                        <div class="col-md-7">
                            {{ field }}
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                {% endfor %}
            </div>

            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-layout">
                    更新
                </button>
            </div>

        </div>

    </form>

    <div class="text-center">
        <a href="{% url 'knowledge:index' %}" class="btn btn-secondary btn-layout">
            ナレッジ管理に戻る <i class="fa-solid fa-circle-chevron-right"></i>
        </a>
    </div>
    
{% endblock content %}
