{% extends 'base.html' %}
{% load static %}
{% block title %}ユーザ情報{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h2><strong>ユーザ情報</strong></h2>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="container-fluid content-area">

            <div class="row mb-5">

                <div class="row mb-4">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 ms-5">
                        {{ form.name.label }}
                    </div>
                    <div class="col-md-4">
                        {{ form.name }}
                            
                        {% if form.name.errors %}
                            <ul class="errorlist">
                                {% for error in form.name.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 ms-5">
                        メールアドレス
                    </div>
                    <div class="col-md-4">
                        {{ request.user.email }}
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 ms-5">
                        {{ form.password.label }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password }}

                        {% if form.password.errors %}
                            <ul class="errorlist">
                                {% for error in form.password.errors %}
                                <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
    
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <!-- 一般ユーザ用メニュー -->
                {% if not user.is_staff %}

                    <div class="row mb-4">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 ms-5">
                            コース・チーム名
                        </div>
                        <div class="col-md-4">
                            {{ request.user.team.course.name }} {{ request.user.team.name }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 ms-5">
                            チームメンバー
                        </div>
                        <div class="col-md-4">
                            {% for member in request.user.team.members.all %}
                                {% if member != request.user %}
                                    <i class="fa-solid fa-user" style="color: black;"></i> {{ member.name }}<br>
                                {% endif %}
                                {% empty %}
                                    他のメンバーはいません
                            {% endfor %}
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 ms-5">
                            チームID
                        </div>
                        <div class="col-md-4">
                            {{ form.team_id_input }}
                            
                            {% if form.team_id_input.errors %}
                                <ul class="errorlist">
                                    {% for error in form.team_id_input.errors %}
                                        <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                {% endif %}

            </div>

            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-layout">
                    更新
                </button>
            </div>

        </div>
    </form>    

    <div class="text-center mb-5">
        <a href="{% url 'home:index' %}" class="btn btn-secondary btn-layout">
            ホーム画面に戻る <i class="fa-solid fa-circle-chevron-right"></i>
        </a>
    </div>
    
{% endblock content %}
