{% extends 'base.html' %}
{% load static %}
{% block title %}ログイン{% endblock %}

{% block content %}

    <div class="text-center mb-5">
        <h2><strong>ログイン</strong></h2>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="container-fluid">

            <div class="row mb-4">
                <div class="col-md-3"></div>
                <div class="col-md-2 ms-5">
                    {{ form.username.label }}
                </div>
                <div class="col-md-4">
                    {{ form.username }}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row mb-5">
                <div class="col-md-3"></div>
                <div class="col-md-2 ms-5">
                    {{ form.password.label }}
                </div>
                <div class="col-md-4">
                    {{ form.password }}
                </div>
                <div class="col-md-3"></div>

                <div class="text-center mt-3 text-danger">
                    {% if form.non_field_errors %} 
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %} 
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="text-center mb-5">
            <button type="submit" class="btn btn-primary btn-layout">
                ログイン
            </button>
        </div>

    </form>

    <div class="text-center">
        <a href="{% url 'user:signup' %}" class="btn btn-secondary btn-layout">
            新規登録はこちら
        </a>
    </div>

{% endblock content %}
