{% extends 'base.html' %}
{% load static %}
{% block title %}新規登録{% endblock %}

{% block content %}

    <!-- 中央寄せ用ラッパー -->
    <div style="max-width: 1000px; margin: 0 auto;">

        <div class="text-center mb-5">
            <h2><strong>新規登録</strong></h2>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="container-fluid content-area">
                {{ form.non_field_errors }}

                {% for field in form %}

                    <div class="row mb-4">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            {{ field.label }}
                        </div>
                        <div class="col-md-4">
                            {{ field }}
                        </div>
                        <div class="col-md-3"></div>

                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="text-center mt-1" style="color:red;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                {% endfor %}
            </div>

            <div class="text-center mt-5 mb-5">
                <button type="submit" class="btn btn-primary btn-layout">
                    登録
                </button>
            </div>

        </form>

        <div class="text-center mb-5">
            <a href="{% url 'user:login' %}" class="btn btn-secondary btn-layout">
                ログイン画面に戻る <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
        </div>

    </div>
                        
{% endblock content %}


{% block sp-content %}

    <!-- 中央寄せ用ラッパー -->
    <div style="max-width: 700px; margin: 0 auto;">

        <div class="text-center mb-3 sp-main-title">
            <strong>新規登録</strong>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="container-fluid content-area">
                {{ form.non_field_errors }}

                {% for field in form %}

                    <div class="mb-3">
                        <div class=""></div>
                        <div class="">
                            {{ field.label }}
                        </div>
                        <div class="">
                            {{ field }}
                        </div>
                        <div class=""></div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="text-center mt-1" style="color:red;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                {% endfor %}
            </div>

            <div class="text-center mt-4 mb-4">
                <button type="submit" class="btn btn-primary btn-layout">
                    登録
                </button>
            </div>

        </form>

        <div class="text-center mb-5">
            <a href="{% url 'user:login' %}" class="btn btn-secondary btn-layout">
                ログイン画面に戻る <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
        </div>

    </div>
                        
{% endblock sp-content %}
