body {
    font-family: "MS Pゴシック" ;
}

/* ログイン画面関連 */
.auth-area{
    margin-left:400px;
    margin-bottom: 50px;
}

/* サイドメニュー関連 */
.sidemenu {
    /* background-color: #ECE8E9; */
    background-color: #353A40;
    height: 100vh;
}

.menu-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size:20px;
    color: white;
    background-color: #4A4E53;
    border:1px solid #CFCFCF;
}

.menu-title i {
    margin-left:15px;
    width:40px;
    color: white;
}

.submenu {
    cursor: pointer;
    background-color: #5f5f5f;
    border:1px solid #CFCFCF;
}

.submenu a {
    display: block;
    padding: 5px 0 5px 20px;
    text-decoration: none;
    font-size:18px;
    color: white;
}

.submenu i {
    width:30px;
    color: white;
}

.submenu a:hover {
    text-decoration: underline;
    background-color: gray;
    font-weight: bold;
}

.logout a {
    text-decoration: none;
    color: white;
}

.logout a:hover {
    text-decoration: underline;
}


/* ホーム画面関連 */
.content {
    padding: 50px;
}

.alert-box{
    background-color: #FFB6C1;
    border:1px solid red;
    border-radius: 5px;
    padding:20px;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-box{
    background-color: #98FB98;
    border:1px solid green;
    border-radius: 5px;
    padding:20px;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.deadline {
    font-size: 40px;
    font-weight: bold;
}

/* ボタン関連 */
.btn-layout{
    width:200px;
    margin:0 auto;
    box-shadow: 3px 3px 3px gray;
}

/* 新規登録ボタンの位置調整 */
.btn-adjustment-course{
    margin-right:220px; 
}

.btn-adjustment-team{
    margin-right:240px; 
}

.btn-layout-small{
    width:80px;
    margin:5px auto;
    font-weight: bold;
    box-shadow: 3px 3px 3px gray;
}

.btn-layout-small:hover{
    background-color: #00BFFF;
    color:black;
}

.btn-edit{
    background-color: #1E90FF;
}

.btn-detail{
    background-color: #87CEFA;
}

/* トグルボタン関連 */
.switch-large .form-check-input {
    width: 3em;
    height: 1.5em;
}

/* テーブル関連 */
thead{
    background-color:#ECE8E9 ;
    text-align: center;
}

th, td{
    border:1px gray solid;
    padding:5px;
}
