body {
    font-family: "MS Pゴシック" ;
}


/* ログイン画面関連 */
.auth-area{
    margin-left:400px;
    margin-bottom: 50px;
}

/* サイドメニュー関連 */
.sidemenu {
    /* background-color: #ECE8E9; */
    background-color: #353A40;
    height: 100vh;
    position: fixed;
}

.menu-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size:20px;
    color: white;
    background-color: #4A4E53;
    border:1px solid #CFCFCF;
}

.menu-title i {
    margin-left:15px;
    width:40px;
    color: white;
}

.submenu {
    cursor: pointer;
    background-color: #5f5f5f;
    border:1px solid #CFCFCF;
}

.submenu a {
    display: block;
    padding: 5px 0 5px 20px;
    text-decoration: none;
    font-size:18px;
    color: white;
}

.submenu i {
    width:30px;
    color: white;
}

.submenu a:hover {
    text-decoration: underline;
    background-color: gray;
    font-weight: bold;
}

.logout a {
    text-decoration: none;
    color: white;
}

.logout a:hover {
    text-decoration: underline;
}

.character-icon{
    position: absolute;
    bottom: 0;
    margin-left:55px;
    margin-bottom:70px;
}


/* ホーム画面関連 */
.home-user{
    border-bottom: 2px #D3D3D3 solid;
    border-image: linear-gradient(to right, gray 0%, #D3D3D3 100%) 1;
    padding-bottom: 20px;
}

.content {
    padding: 50px;
    margin-left: 16.6667%; /* col-md-2の幅を意識 */    
}

.alert-box{
    background-color: #FFB6C1;
    border:1px solid red;
    border-radius: 5px;
    padding:20px;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 20px;
    word-break: break-all;
}

.alert-box ul{
    list-style: none;
    padding: 0;
}

.info-box{
    background-color: #98FB98;
    border:1px solid green;
    border-radius: 5px;
    padding:20px;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.deadline {
    font-size: 40px;
    font-weight: bold;
}

/* 詳細画面の区切り線 */
.agenda-detail-line{
    width:800px;
    margin: 0 auto;
    border-bottom: 2px #D3D3D3 solid;
}

.knowledge-detail-line{
    width:800px;
    margin: 0 auto;
    border-bottom: 2px #D3D3D3 solid;
}


/* ボタン関連 */
.btn-layout{
    width:300px;
    margin:0 auto;
    padding:8px;
    box-shadow: 3px 3px 3px gray;
}

.btn-layout-small{
    width:80px;
    margin:5px auto;
    font-weight: bold;
    box-shadow: 3px 3px 3px gray;
    text-decoration: none;
}

.btn-layout-small:hover{
    background-color: #0000CD;
    color:white;
}

.btn-create{
    width:160px;
    background-color:#4169E1;
    color:white;
}

.btn-create:hover{
    background-color: #0000CD;
    color:white;
}

.btn-edit{
    background-color: #1E90FF;
}

.btn-detail{
    background-color: #87CEFA;
}

.btn-link{
    width:100px;
    color:black;
    background-color: #98FB98;
}

.btn-delete{
    background-color: #F08080;
}

.btn-add-agenda{
    width:200px;
    color:black;
    background-color: #87CEEB;
}

.btn-notification{
    background-color: #AFEEEE;
}

.btn-gantt{
    width:160px;
}

.btn-add-agenda:hover{
    background-color: #87CEFA;
}

.btn-ovice{
    width:350px;
    background-color: #F5F5F5;
    font-size:24px;
    color:black;
    font-weight: bold;
    border:#A9A9A9 1px solid;
}

.btn-ovice:hover{
    background-color: #C0C0C0;
    color:white;
}

.btn-daily-report-modal-manual-open{
    opacity: 0;
}

/* トグルボタン関連 */
.switch-large .form-check-input {
    width: 3em;
    height: 1.5em;
}

/* 各画面のフォント調整 */
.content-area{
    font-size:18px;
    font-weight: bold;
}

/* タスク管理画面 */
.status_checkbox{
    margin-top:20px;
    margin-left:10px;
    font-size:20px;
    font-weight: bold;
}

/* 各種ステータスの色 */
.status-notouch{
    color:black;
}

.status-progress{
    color:red;
}

.status-end{
    color:gray;
}


/* 過去ハッカソン情報画面 */
.category_select{
    width:400px;
    margin:0 auto;
    margin-bottom:20px;
    font-weight: bold;
    font-size: 17px;
}

/* ハッカソン参考情報画面 */
.target_select{
    width:400px;
    margin:0 auto;
    margin-bottom:20px;
    font-weight: bold;
    font-size: 17px;
}

/* テーブル関連 */
thead{
    /* background: linear-gradient(#D3D3D3, #F5F5F5); */
    /* background: linear-gradient(black, gray); */
    background-color: #353A40;
    text-align: center;
    color: white;
}

th{
    border:2px #4A4E53 solid;
    padding:5px 10px;
    vertical-align:middle;
    font-weight: bold;
}

td{
    border:2px #4A4E53 groove;
    padding:5px 10px;
    vertical-align:top;
    word-break: break-all;
    font-weight: bold;
}

/* フッター */
footer a{
    color:black;
    text-decoration: none;
}

/* タスク管理のガントチャート */
#ganttModal .modal-dialog {
    max-width: 1000px; /* 横幅 */
    height: 60vh;       /* モーダルの高さを画面の60%に */
}

#ganttModal .modal-body {
    height: 60vh;
    overflow: visible; 
}

.bar-progress {
    fill: #87CEFA !important;
    stroke: #4689FF;
    stroke-width: 1px;
}

.current-ball-highlight{
    background-color: red !important;
    color:red !important;
    margin-left: 1px !important;
}

.current-highlight{
    background-color: red !important;
    color:red !important;
    width: 2px !important;
}

.bar-label {
    font-size: 12px !important;
    font-weight: bold !important;
}

.grid-row {
    fill: #EEFFFF !important;
}

.grid-row:nth-child(even) {
    fill: #DDFFFF !important;
}

/* モーダル */
.modal-header-modify{
    background-color: #353A40;
    color: white;
}


/* レスポンシブ対応（PC用にスマホ用cssを無効化） */
.sp-header{
    display: none;
}

.nav{
    display: none;
}

.sp-content{
    display: none;
}

/* レスポンシブ対応（スマホ用） */
@media (max-width: 670px){

    .sidemenu{
        display: none;
    }

    header {
        width:100%;
        margin:0 auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #353A40;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav{
        display: block;
    }

    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }

    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;/* 重なり順を一番上にする */
        cursor: pointer;
    }

    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: white;
        transition: 0.5s;
        position: absolute;
    }

    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }

    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked ~ .drawer_open span {
        background: rgba(255, 255, 255, 0);
    }

    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked ~ .drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #drawer_input:checked ~ .drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューのデザイン*/
    .nav_content {
        width: 60%;
        height: 400px;
        position: fixed;
        top: 0;
        left: 100%; /* メニューを画面の外に飛ばす */
        z-index: 99;
        background-color: #4A4E53;
        border: 1px solid #CCCCCC;
        transition: .5s;
    }

    .sp_menu_title{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 50px;
        background-color: #353A40;
        color: white;
        padding:5px;
    }

    .nav_item{
        margin-bottom:10px ;
    }

    .nav_item a{
        color: white;
        font-size:16px;
        font-weight: bold;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
        left: 40%;/* メニューを画面に入れる */
    }    

    /* メニュー黒ポチを消す */
    .nav_list {
        list-style: none;
    }

    .content{
        display: none;
    }

    .sp-content{
        display: block;
    }

    .sp-main-content{
        font-size: 20px;
    }

    .sp-home-user{
        margin-top: 80px;
        border-bottom: 2px #D3D3D3 solid;
        border-image: linear-gradient(to right, gray 0%, #D3D3D3 100%) 1;
        padding-bottom: 20px;
    }

    .sp-alert-box{
        background-color: #FFB6C1;
        border:1px solid red;
        border-radius: 5px;
        padding:10px;
        font-size:16px;
        font-weight: bold;
        margin-bottom: 20px;
        word-break: break-all;
    }

    .sp-alert-box ul{
        list-style: none;
        padding: 0;
    }

    .sp-info-box{
        background-color: #98FB98;
        border:1px solid green;
        border-radius: 5px;
        padding:10px;
        font-size:16px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .sp-deadline {
        font-size: 20px;
        font-weight: bold;
    }

    .sp-table{
        font-size: 14px;
    }

    .sp-main-title{
        margin-top: 80px;
        font-size: 20px;
    }

    .sp-btn-link{
        background-color: #98FB98;
        font-size: 14px;
        padding:2px;
    }

}
