<!-- # base.htmlに記載されている内容をベースとして拡張する。 -->
{% extends 'base.html' %}
{% block title %}タスク管理{% endblock %}

{% block content %}

<!-- 新規登録ボタン -->
<a href="{% url 'task:create-task' %}">
    <button class="btn btn-primary mb-3">
        <i class="fas fa-plus-circle"></i>新規登録
    </button>
</a>

<!-- itemを繰り返し処理 -->
{% for item in object_list %}
    <ul>
        <li>{{ item.assignee }}</li>
        <li>{{ item.name }}</li>
        <li>{{ item.get_priority_display }}</li>
        <li>{{ item.start_date }}</li>
        <li>{{ item.end_date }}</li>
        <li>{{ item.get_status_display }}</li>
    </ul>
    <a href="{% url 'task:update-task' item.id %}">
        <button class="btn btn-edit btn-layout-small">編集</button>
    </a>
    <a href="{% url 'task:delete-task' item.id %}">
        <button class="btn btn-edit btn-layout-small">削除</button>
    </a>
{% endfor %}
{% endblock content %}
