<!-- このテンプレートはbase.htmlを継承します -->
{% extends 'base.html' %}

{% block title %}タスク登録{% endblock %}

{% block content %}
<!-- formを用いてデータを送るときのmethodはPOSTが使われる {% csrf_token %}はクロスサイトリクエストフォージェリのトークンが発行させる。これがないと処理を行えない。 -->
<h2>タスク登録</h2>
<form method='POST'>
  {% csrf_token %}
  <!-- view のなかで指定したmodelで定義された項目を、それぞれの項目で囲って表示させるという意味 -->
    <table>
      <tr><td>タスク名</td><td>{{ form.name }}</td></tr>
      <tr><td>担当者</td><td>{{ form.assignee }}</td></tr>
      <tr><td>優先度</td><td>{{ form.priority }}</td></tr>
      <tr><td>開始予定日</td><td>{{ form.start_date }}</td></tr>
      <tr><td>終了予定日</td><td>{{ form.end_date }}</td></tr>
      <tr><td>ステータス</td><td>{{ form.status }}</td></tr>
    </table>
    <br>
    <input type="submit" value="登録">
    <a href="{% url 'task:index' %}"><button type="button">戻る</button></a>
    </form>
{% endblock content %}
