{% extends 'base.html' %}

{% block title %}タスク編集{% endblock %}

{% block content %}
<h2>タスクを編集</h2>

<form method='post'>
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <p>
    {{ form.assignee.label_tag }}<br>
    {{ form.assignee }}<br>
    選択中: {{ form.instance.assignee.name }}
  </p>

  <p>
    {{ form.name.label_tag }}<br>
    {{ form.name }}
  </p>

  <p>
    {{ form.priority.label_tag }}<br>
    {{ form.priority }}
  </p>

  <p>
    {{ form.start_date.label_tag }}<br>
    {{ form.start_date }}
  </p>

  <p>
    {{ form.end_date.label_tag }}<br>
    {{ form.end_date }}
  </p>

  <p>
    {{ form.status.label_tag }}<br>
    {{ form.status }}
  </p>
  <button type='submit'>{{ object.name }}更新</button>
  <a href="{% url 'task:index' %}">戻る</a>
</form>
{% endblock %}
